<p-toast />

<div class="page-header">
    <div class="breadcrumb-trail">
        Home <i class="pi pi-angle-right"></i>
        <a class="breadcrumb-link" (click)="onCancel()">Driver</a>
        <i class="pi pi-angle-right"></i>
        <span>{{ isEditMode() ? 'Edit Driver' : 'New Driver' }}</span>
    </div>
    <!-- Ternary operator in template: condition ? valueIfTrue : valueIfFalse -->
    <div class="page-title">{{ isEditMode() ? 'Edit Driver' : 'New Driver' }}</div>
</div>

<div class="form-card">
    <div class="card-header">
        <span class="card-title">Driver Information</span>
    </div>

    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-grid-2">

                <!-- Name Field -->
                <div class="form-field">
                    <label class="form-label">
                        Driver Name <span class="required-star">*</span>
                    </label>

                    <input pInputText formControlName="fullName" placeholder="Enter driver full name"
                        [class.input-error]="isInvalid('fullName')" />

                    @if (isInvalid('fullName')) {
                    <small class="error-msg">
                        @if (form.get('fullName')?.hasError('required')) { Full Name is required. }
                        @if (form.get('fullName')?.hasError('maxlength')) { Max 100 characters. }
                    </small>
                    }
                </div>

                <!-- License Number Field -->
                <div class="form-field">
                    <label class="form-label">
                        License Number <span class="required-star">*</span>
                    </label>

                    <input pInputText formControlName="licenseNumber" placeholder="Enter driver full name"
                        [class.input-error]="isInvalid('licenseNumber')" />

                    @if (isInvalid('licenseNumber')) {
                    <small class="error-msg">
                        @if (form.get('licenseNumber')?.hasError('required')) { License Number is required. }
                        @if (form.get('licenseNumber')?.hasError('maxlength')) { Max 100 characters. }
                    </small>
                    }
                </div>


                <!-- Phone Field -->
                <div class="form-field">
                    <label class="form-label">
                        Phone <span class="required-star">*</span>
                    </label>
                    <input pInputText formControlName="phone" placeholder="Enter phone number"
                        [class.input-error]="isInvalid('phone')" />
                    @if (isInvalid('phone')) {
                    <small class="error-msg">Phone is required.</small>
                    }
                </div>

                <!-- Available Toggle -->

                @if(isEditMode()) {
                <div class="form-section-title" style="margin-top: 1.5rem">
                    Availability
                </div>

                <div class="availability-form-section">
                    <div class="availability-toggle-row">
                        <div class="availability-info">
                            <span class="availability-title">Driver Availability</span>
                            <span class="availability-desc">
                                Toggle whether this driver is available for new trip assignments.
                                Cannot be marked available if driver has an active trip in transit.
                            </span>
                        </div>

                        <div class="availability-control">
                            <p-toggleswitch formControlName="isAvailable" />
                            <span class="availability-status-label"
                                [class.status-available]="form.get('isAvailable')?.value"
                                [class.status-unavailable]="!form.get('isAvailable')?.value">
                                {{ form.get('isAvailable')?.value ? 'Available' : 'Unavailable' }}
                            </span>
                        </div>
                    </div>
                </div>
                }
            </div>

            <!-- Form Actions -->
            <div class="form-actions">
                <p-button label="Cancel" severity="secondary" [outlined]="true" (onClick)="onCancel()" />
                <p-button [label]="isEditMode() ? 'Update Driver' : 'Create Driver'" icon="pi pi-check" type="submit"
                    [loading]="isSaving()" />
            </div>
        </form>
    </div>
</div>