<p-toast />

<div class="page-header">
    <div class="breadcrumb-trail">
        Home <i class="pi pi-angle-right"></i>
        Driver <i class="pi pi-angle-right"></i>
        <span>{{ isEditMode() ? 'Edit Driver' : 'New Driver' }}</span>
    </div>
    <!-- Ternary operator in template: condition ? valueIfTrue : valueIfFalse -->
    <div class="page-title">{{ isEditMode() ? 'Edit Driver' : 'New Driver' }}</div>
</div>

<div class="form-card">
    <div class="card-header">
        <span class="card-title">Driver Information</span>
    </div>

    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <div class="form-grid-2">

                <!-- Name Field -->
                <div class="form-field">
                    <label class="form-label">
                        Driver Name <span class="required-star">*</span>
                    </label>

                    <input pInputText formControlName="fullName" placeholder="Enter driver full name"
                        [class.input-error]="isInvalid('fullName')" />

                    @if (isInvalid('fullName')) {
                    <small class="error-msg">
                        @if (form.get('fullName')?.hasError('required')) { Full Name is required. }
                        @if (form.get('fullName')?.hasError('maxlength')) { Max 100 characters. }
                    </small>
                    }
                </div>

                <!-- License Number Field -->
                <div class="form-field">
                    <label class="form-label">
                        License Number <span class="required-star">*</span>
                    </label>

                    <input pInputText formControlName="licenseNumber" placeholder="Enter driver full name"
                        [class.input-error]="isInvalid('licenseNumber')" />

                    @if (isInvalid('licenseNumber')) {
                    <small class="error-msg">
                        @if (form.get('licenseNumber')?.hasError('required')) { License Number is required. }
                        @if (form.get('licenseNumber')?.hasError('maxlength')) { Max 100 characters. }
                    </small>
                    }
                </div>


                <!-- Phone Field -->
                <div class="form-field">
                    <label class="form-label">
                        Phone <span class="required-star">*</span>
                    </label>
                    <input pInputText formControlName="phone" placeholder="Enter phone number"
                        [class.input-error]="isInvalid('phone')" />
                    @if (isInvalid('phone')) {
                    <small class="error-msg">Phone is required.</small>
                    }
                </div>

                <!-- Available Toggle -->
                <div class="form-field">
                    <label class="form-label">Status</label>
                    <div class="toggle-row">
                        <p-toggleswitch formControlName="isAvailable" />
                        <span class="toggle-label">
                            {{ form.get('isAvailable')?.value ? 'Available' : 'Occupied' }}
                        </span>
                    </div>
                </div>

            </div>

            <!-- Form Actions -->
            <div class="form-actions">
                <p-button label="Cancel" severity="secondary" [outlined]="true" (onClick)="onCancel()" />
                <p-button [label]="isEditMode() ? 'Update Driver' : 'Create Driver'" icon="pi pi-check" type="submit"
                    [loading]="isSaving()" />
            </div>
        </form>
    </div>
</div>