<p-toast />

<div class="page-header">
    <div class="breadcrumb-trail">
        Home <i class="pi pi-angle-right"></i>
        <span>Routes</span>
    </div>
    <div class="page-title">Routes</div>
    <div class="page-subtitle">Manage transport routes and distances</div>
</div>

<div class="card">

    <p-toolbar class="table-toolbar">
        <ng-template #start>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText type="text" placeholder="Search routes..." (input)="onSearch($event)" />
            </p-iconfield>
        </ng-template>
        <ng-template #end>
            <p-button label="New Route" icon="pi pi-plus" (onClick)="navigateToCreate()" />
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="appRoutes()" [loading]="isLoading()" [lazy]="true" (onLazyLoad)="onLazyLoad($event)"
        [totalRecords]="totalRecords" [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[10, 25, 50]"
        [rowHover]="true" dataKey="id" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} routes"
        [tableStyle]="{ 'min-width': '55rem' }">

        <ng-template pTemplate="caption">
            <div class="table-caption">
                <span class="table-title">Route List</span>
                <span class="table-count">{{ totalRecords }} total</span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 8rem; text-align: center">Actions</th>
                <th pSortableColumn="origin" style="min-width: 14rem">
                    Origin <p-sortIcon field="origin" />
                </th>
                <th pSortableColumn="destination" style="min-width: 14rem">
                    Destination <p-sortIcon field="destination" />
                </th>
                <th pSortableColumn="distanceKm" style="min-width: 10rem">
                    Distance <p-sortIcon field="distanceKm" />
                </th>
                <th pSortableColumn="estimatedHours" style="min-width: 10rem">
                    Est. Duration <p-sortIcon field="estimatedHours" />
                </th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-route>
            <tr>
                <td>
                    <div class="row-actions">
                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" size="small" pTooltip="Edit"
                            tooltipPosition="top" (onClick)="navigateToEdit(route)" />
                    </div>
                </td>
                <td>
                    <div class="route-origin-cell">
                        <i class="pi pi-map-marker route-pin"></i>
                        <span class="row-name">{{ route.origin }}</span>
                    </div>
                </td>
                <td>
                    <div class="route-origin-cell">
                        <span class="row-name">{{ route.destination }}</span>
                    </div>
                </td>
                <td>
                    <p-tag [value]="formatDistance(route.distanceKm)"
                        [severity]="getDistanceSeverity(route.distanceKm)" />
                </td>
                <td>
                    <div class="duration-cell">
                        <i class="pi pi-clock"></i>
                        <span>{{ formatHours(route.estimatedHours) }}</span>
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">
                    <div class="empty-state">
                        <i class="pi pi-map"></i>
                        <span>No routes found</span>
                        <small>Add your first route to get started</small>
                    </div>
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>