<p-toast />
<p-confirmDialog />

<div class="page-header">
    <div class="breadcrumb-trail">
        Home <i class="pi pi-angle-right"></i>
        <span>Drivers</span>
    </div>
    <div class="page-title">Drivers</div>
    <div class="page-subtitle">Manage your driver records</div>
</div>

<div class="card">

    <p-toolbar class="table-toolbar">
        <ng-template #start>
            <p-iconfield>
                <p-inputicon class="pi pi-search" />
                <input pInputText type="text" placeholder="Search drivers..." (input)="onSearch($event)" />
            </p-iconfield>
        </ng-template>
        <ng-template #end>
            <p-button label="Add" icon="pi pi-plus" (onClick)="navigateToCreate()" />
        </ng-template>

    </p-toolbar>

    <p-table #dt [value]="drivers()" [lazy]="true" (onLazyLoad)="onLazyLoad($event)" [totalRecords]="totalRecords"
        [paginator]="true" [rows]="pageSize" [rowsPerPageOptions]="[10, 25, 50, 100]" [rowHover]="true" dataKey="id"
        [showCurrentPageReport]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} drivers"
        [tableStyle]="{ 'min-width': '60rem' }">

        <ng-template pTemplate="caption">
            <div class="table-caption">
                <span class="table-title">diver List:</span>
                <span class="table-count">{{ totalRecords }} total</span>
            </div>
        </ng-template>

        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="fullName" style="min-width: 14rem">
                    Name <p-sortIcon field="fullName" />
                </th>
                <th pSortableColumn="licenseNumber" style="min-width: 16rem">
                    License Number <p-sortIcon field="licenseNumber" />
                </th>
                <th style="min-width: 11rem">Phone</th>
                <th style="min-width: 8rem">Availability</th>
                <th style="width: 8rem; text-align: center">Actions</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-driver>
            <tr>
                <td><span class="row-name">{{ driver.fullName }}</span></td>
                <td>{{ driver.licenseNumber }}</td>
                <td>{{ driver.phone }}</td>
                <td>
                    <p-tag [value]="driver.isAvailable ? 'Available' : 'Occupied'"
                        [severity]="getSeverity(driver.isAvailable)" />
                </td>
                <td>
                    <div class="row-actions">
                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" size="small" pTooltip="Edit"
                            tooltipPosition="top" (onClick)="navigateToEdit(driver)" />
                    </div>
                </td>
            </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="6">
                    <div class="empty-state">
                        <i class="pi pi-users"></i>
                        <span>No drivers found</span>
                        <small>Add your first driver to get started</small>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>